body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 45px;
  border-top: 5px solid #333;

  .topnav {
    overflow: hidden;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e8e8e8;

    .nav-search {
      width: 20%;

      .navbar-form {
        display: flex;
        flex-direction: row;
        margin-top: 0.8em;

        input {
          padding: 8px;
          border: none;
        }

        .btn {
          background-color: transparent;
          border: none;
        }
      }
    }

    .center-nav {
      float: left;
      width: 40%;

      a {
        text-decoration: none;
        padding: 0 15px;
      }
    }

    .right-nav {
      width: 40%;
      float: right;
      text-align: right;

      a {
        text-decoration: none;
        padding: 0 15px;
      }
    }
  }

  .banner {
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo {
      float: left;
      padding-top: 40px;
    }

    .header-text {
      padding-top: 40px;
    }
  }
}

.main {
max-width: 1280px;
  margin: 0 auto;
  display: flex;
  border-bottom: 1px solid #e8e8e8;

  a {
    text-decoration: none;
  }

  .sidebar-menu {
    width: 20%;


    .navbar {
      list-style: none;
      padding: 0 40px 0 0;

      li {
        padding: 15px 0;
        border-bottom: 1px solid #e8e8e8;

        .dropdown-menu {
          display: none;
          list-style: none;
          padding: 5px 0 15px;
        }
      }

      li:first-child {
        border-top: 1px solid #e8e8e8;
      }
    }
  }

  .product {
    width: 80%;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;

    .num {
      width: 33.33333%;
      padding-bottom: 50px;

      .num-pic:hover {
        opacity: 0.7;
      }

      .pic-title {
        text-align: center;
      }

      .price {
        text-align: center;
      }
    }

    .product-content {
      font-family: TimesNewRoman;
      font-weight: 400;
      padding-bottom: 50px;
    }
  }
}

footer{
  display: flex;
  flex-direction: column;
  width: 1280px;
    margin: 0 auto;
  .footer-content{
    width: 100%;
    display: flex;
    flex-direction: row;
      border-bottom: 1px solid #e8e8e8;
      padding: 30px 0 50px;
    .links{
      width:50%;
      display: flex;
      flex-direction: column;
      a{
        text-decoration: none;
        padding: 5px 0;
      }
    }
    .subscribe{
      width: 50%;
      display: flex;
      flex-direction: column;
      a{
        text-decoration: none;
        padding: 5px 0 15px;
      }
      .email-subscribe{
        display: flex;
        flex-direction: row;
        input{
          width: 80%;
          padding: 12px;
          background-color: #e8e8e8;
          border: none;
        }
        button{
          width: 20%;
          background-color: #333;
          color:#fff;
          border: none;
        }
      }
    }
  }
  .copy-right{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    &-text{
      width: 50%;
    }
    &-icon{
      width: 50%;
      .payment-icons{
float: right;
        display: flex;
flex-direction: row;
list-style: none;
li{
  padding: 0 5px;
}
      }
    }
    a{
      text-decoration: none;
    }
  }
}
