.product1{
  display: flex;
  flex-direction: column;
  width: 80%;
  .shopping-products{
    display: flex;
    flex-direction: row;
    .shopping-product{
      display: flex;
      flex-direction: row;
    }
  }
  .related-products{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .list-related-products{
      display: flex;
      flex-direction: row;
      .num{
        .pic-title{
          text-align: center;
        }
        .price{
          text-align: center;
        }
      }
    }
    padding-bottom: 30px;
  }
}
