body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif; }

header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 45px;
  border-top: 5px solid #333; }
  header .topnav {
    overflow: hidden;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e8e8e8; }
    header .topnav .nav-search {
      width: 20%; }
      header .topnav .nav-search .navbar-form {
        display: flex;
        flex-direction: row;
        margin-top: 0.8em; }
        header .topnav .nav-search .navbar-form input {
          padding: 8px;
          border: none; }
        header .topnav .nav-search .navbar-form .btn {
          background-color: transparent;
          border: none; }
    header .topnav .center-nav {
      float: left;
      width: 40%; }
      header .topnav .center-nav a {
        text-decoration: none;
        padding: 0 15px; }
    header .topnav .right-nav {
      width: 40%;
      float: right;
      text-align: right; }
      header .topnav .right-nav a {
        text-decoration: none;
        padding: 0 15px; }
  header .banner {
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    header .banner .logo {
      float: left;
      padding-top: 40px; }
    header .banner .header-text {
      padding-top: 40px; }

.main {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  border-bottom: 1px solid #e8e8e8; }
  .main a {
    text-decoration: none; }
  .main .sidebar-menu {
    width: 20%; }
    .main .sidebar-menu .navbar {
      list-style: none;
      padding: 0 40px 0 0; }
      .main .sidebar-menu .navbar li {
        padding: 15px 0;
        border-bottom: 1px solid #e8e8e8; }
        .main .sidebar-menu .navbar li .dropdown-menu {
          display: none;
          list-style: none;
          padding: 5px 0 15px; }
      .main .sidebar-menu .navbar li:first-child {
        border-top: 1px solid #e8e8e8; }
  .main .product {
    width: 80%;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .main .product .num {
      width: 33.33333%;
      padding-bottom: 50px; }
      .main .product .num .num-pic:hover {
        opacity: 0.7; }
      .main .product .num .pic-title {
        text-align: center; }
      .main .product .num .price {
        text-align: center; }
    .main .product .product-content {
      font-family: TimesNewRoman;
      font-weight: 400;
      padding-bottom: 50px; }
